.Hero {
  z-index: 1;
  position: relative;
}
.Hero__inner {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f3f3f3;
  overflow: hidden;
  &::after {
    z-index: 1;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .Hero__inner {
    height: calc(100vh - 100px);
  }
}
@media (max-width: 768px) {
  .Hero__inner {
    height: calc(100vh - 100px);
  }
}
.Hero__catch {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  opacity: 0;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition: 2s;
  transition: 2s;
  transform: translateY(-50%);
}
.Hero__catch.visible {
  opacity: 1;
}
.Hero__catch-main {
  color: #fff;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  font-size: 90px;
  -webkit-font-feature-settings: "palt";
  font-feature-settings: "palt";
  .copy-1 {
    span {
      color: #0084ff;
    }
  }
}
@media (max-width: 768px) {
  .Hero__catch-main {
    font-size: calc(2rem + 2vw);
  }
}
.Hero__catch-sub {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .Hero__catch-sub {
    font-size: 13px;
  }
}
.Hero__catch-sub span {
  display: block;
}
.Hero__image-left {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 768px) {
  .Hero__image-left {
    width: 100%;
    height: 50%;
  }
}
.Hero__image-right {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 768px) {
  .Hero__image-right {
    width: 100%;
    height: 50%;
    top: auto;
    bottom: 0;
  }
}
.Hero__description {
  position: absolute;
  left: -30px;
  bottom: 40%;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 1rem;
  letter-spacing: 0.1em;
}
.Hero__scroll {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: $white;
  writing-mode: vertical-rl;
  font-size: 12px;
  &::after {
    z-index: 1;
    content: "";
    width: 1px;
    height: 4rem;
    background-color: $white;
    cursor: pointer;
  }
}

.mv__news {
  z-index: 1;
  position: absolute;
  background-color: $primary;
  left: 50%;
  bottom: -2.5rem;
  transform: translateX(-50%);
  padding: 2rem 4rem;
  box-sizing: border-box;
  @include media-breakpoint-down(md) {
    padding: 1.5rem;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    bottom: 3.5rem;
  }
  a {
    display: flex;
    justify-content: start;
    align-items: center;
    color: $white;
    line-height: 1;
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      font-size: $font-size-sm;
    }
    span {
      display: block;
    }
    &::after {
      display: block;
      line-height: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 4rem;
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      @include media-breakpoint-down(md) {
        right: 1rem;
      }
    }
  }
  &-time {
    margin-right: 3rem;
    @include media-breakpoint-down(md) {
      margin-right: 1rem;
    }
  }
  &-cat {
    margin-right: 4rem;
    @include media-breakpoint-down(md) {
      margin-right: 0;
    }
  }
  &-ttl {
    @include media-breakpoint-down(md) {
      width: 100%;
      margin-top: 1rem;
    }
  }
}

.mv {
  &__sub {
    overflow: hidden;
    width: 100%;
    height: 55vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      height: 40vh;
    }
    &.lower {
      height: 90vh;
      @include media-breakpoint-down(md) {
        height: 70vh;
      }
      .mv__sub__inner-ttl {
        margin-top: 0;
      }
    }
    .container {
      position: relative;
      height: 100%;
    }
    &__inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      &-ttl {
        font-size: 3.75rem;
        font-weight: bold;
        line-height: 1;
        color: $white;
        margin: 0;
        @include media-breakpoint-down(md) {
          font-size: 3rem;
          margin-top: 2rem;
        }
        &:first-letter {
          color: $primary;
        }
        &+p {
          font-size: 1rem;
          margin: .8em 0 0;
          color: $white;
          font-weight: bold;
        }
      }
    }
    &.news {
      background-image: url("../images/mv_news.png");
    }
    &.products {
      background-image: url("../images/mv_products.png");
    }
    &.company {
      background-image: url("../images/mv_company.png");
    }
    &.technology {
      background-image: url("../images/mv_technology.png");
    }
  }
}

#breadcrumbs {
  position: absolute;
  left: 0;
  bottom: 1.5rem;
  span, a {
    color: $white;
    font-size: 12px;
  }
}